@import "tailwindcss";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

* {
    box-sizing: border-box;
}

:root {
    --background-color: #f5f7fa; /* Light mode default */
}

.dark {
    --background-color: #181d25; /* Dark mode */
}
